* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: orangered;
  font-weight: 500;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: white;
  box-shadow: 0 0 7px rgb(199, 199, 199);
}
.header {
  background: #eeeeee;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-1 {
  margin-top: 1rem;
}
.openModal {
  color: orangered;
  background: white;
  font-weight: bold;
  padding: 0.7rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
}
.c-gray {
  font-size: 2rem;
  padding: 0 1rem;
  color: #cfcfcf;
}
.icons::before {
  content: 'b';
  color: red;
  top: 26%;
  left: 40%;
  position: absolute;
  transform: translateX(-50%);
  font-size: 1.4rem;
}
.icons::after {
  content: 'b';
  color: red;
  bottom: 66%;
  right: 35%;
  font-size: 1.4rem;
  position: absolute;
  transform: translateX(-50%);
}
.text-center {
  text-align: center;
}
.p-2 {
  padding: 1rem;
}
.w-full {
  width: 100%;
}
.bg-gray300 {
  background-color: #e5e5e5;
  width: 100%;
  padding: 2rem;
}
.whiteCard {
  background: white;
  border-radius: 3px;
  margin: 1rem;
  text-align: center;
  padding: 0.5rem;
}
.sign {
  color: rgb(236, 236, 236);
  font-size: small;
  margin-bottom: 1rem;
}
.left {
  width: 100%;
}
.btn {
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  margin-left: 1rem;
}
.rounded {
  border-radius: 200px;
  background: rgb(197, 197, 197);
  height: 1.3rem;
  padding: 0.3rem 0.5rem;
  color: gray;
  width: 1.3rem;
  margin-right: 0.5rem;
}
.carsConatiner {
  padding: 2rem 0;
}
.carCard {
  border-top: 3px solid rgb(185, 185, 185);
}
.detailText {
  font-weight: 500;
  padding-left: 0.7rem;
}
.more {
  background: orangered;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  width: 90%;
  margin: 1rem;
  font-weight: bold;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
.socials a {
  color: rgb(223, 223, 223);
  font-size: 1.4rem;
}
.each-li {
  margin: 0 1rem;
}
.footer {
  padding: 2rem 1rem;
  background-color: rgb(52, 52, 53);
  color: white;
}
.appendix {
  color: rgb(150, 149, 149);
  font-size: 0.8rem;
  padding: 0 1rem;
  margin-top: 0.6rem;
}
.mobOnly {
  background: white;
  padding: 1rem 1rem 0 1rem;
}
select {
  padding: 0.6rem;
  background: rgb(207, 207, 207);
  border: none;
  border-radius: 5px;
}
.bottomNav {
  display: none;
}
.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  height: 100vh;
}
.hidden {
  display: none;
}
.closeModal {
  border: none;
  border-radius: 200px;
  background: orangered;
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}
.modalBody {
  background: #eeeeee;
  color: rgb(74, 74, 75);
  text-align: center;
  padding: 1rem;
  height: 17rem;
}
.whiteCardsContainer {
  background: #c8c8c8;
  padding: 1rem 0;
  margin: 2rem 0;
  border-radius: 5px;
}
.modalBtn {
  background: white;
  font-weight: bold;
  padding: 0.7rem 0;
  border-radius: 5px;
  border: none;
  color: #c8c8c8;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0 5rem 0;
}
@media screen and (max-width: 480px) {
  .flexDirection {
    flex-direction: column;
  }
  .left {
    background: white;
  }
  .whiteCard {
    margin: 1rem 0.3rem;
  }
  .bottomNav {
    display: flex;
    background: orangered;
    color: white;
    font-size: 1.2rem;
    position: fixed;
    font-weight: bolder;
    text-align: center;
    bottom: 0;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 1rem;
  }
}
